.modal{
	position: fixed;
	top: 200px;
	right: 10px;
	width: calc(100% - 20px);
	background-color: white;
	border-radius: 4px;
	overflow: hidden;
	height: 0;
	transition: .5s ease-out;
	max-width: 600px;
}
.modal-links{
	height: 100px;
	display: flex;
	justify-content:center;
	align-items:center;
}

.modal-links a.-animated {
	transform: translateY(0);
}



.modal-map{
	height: 200px;
	transform: translateY(100%);
	transition: .2s ease-out;
}
.modal-map.-animated{
	transform: translateY(0);
}
.modal-links a {
	width: 50px;
	margin: 0 10px;
	transform: translateY(-200%);
	transition: .2s ease-out;
}

.modal-links a.-active {
	transform: translateY(0);
}
.modal-links img {
	width: 50px;
}
.modal-toggler {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	transform: translateX(300%);
	transition: .2s ease-out;
}
.modal-toggler.-animated{
	transform: translateX(0);
}
.modal-toggler:before,
.modal-toggler:after {
	position: absolute;
	display: block;
	content: "";
	width: 21px;
	height: 1px;
	background-color:#565656; 
}
.modal-toggler:before {
	transform: rotate(45deg) translateY(50%);
	top: 15px;
	right: 10px;
}
.modal-toggler:after {
	transform: rotate(-45deg) translateY(50%);
	top: 15px;
	right: 10px;
}
.modal.-active {
	height: 300px;
}